
<main role="main" id="main">
    <p class="like-title">À propos</p>
    <div class="main-int content-int">
        <article role="article" class="mw1280p center">
            <div class="block-int">
                <h1>Conception, <span lang="en">Webdesign</span>, Intégration et Qualité.</h1>
                <div class="col">
                    <p>Travaillant dans le secteur du web depuis 2008, je vous propose mon expertise acquise au sein d'agences de communication, d'agences web et de <abbr title="société de services en ingénierie informatique">SSII</abbr> pour la création ou la refonte de vos sites internet. <span itemprop="seeks">Je me lance désormais dans l'aventure freelance afin d'être au plus près des clients, dans une relation franche et directe. J'aspire à réaliser des projets dont la réussite nous sera commune : un travail collaboratif porteur de résultats et de progrès pour chacun.</span></p>

                    <p>Je me suis spécialisé dans <span itemprop="makesOffer">l'intégration, dans l'accessibilité ainsi que dans la conception et la qualité web. Je prends en charge la conception de l’interface du site : l’architecture interactionnelle, l’organisation des pages, l’arborescence, la navigation mais aussi l'identité visuelle du site.</span></p>

                    <p>Je réalise votre projet avec un code maintenable, léger, sémantique, élégant et qui intégre les différents standards du web, de la qualité et de l'accessibilité. Je m'assure ainsi du référencement (<abbr lang="en" title="Search engine optimization">SEO</abbr>) naturel de votre site sur les moteurs de recherche. Mes réalisations sont <em lang="en">responsives</em>, c'est-à-dire qu'elles s'adaptent à tous types d'écrans, du téléphone mobile jusqu'au téléviseur.</p>

                    <p>J'interviens aussi sur <span itemprop="makesOffer">différents types de missions : conseil, audits de qualité et d'accessibilité. Je peux également vous informer sur les indicateurs de conformité aux standards du web de vos projets.</span></p>
                </div>    
            </div><!--/block-int-->
        </article>
    </div>
</main>
