<section id="contact">
    <p class="like-title">Contact</p>
    <div class="contact-int">    
        <div class="center mw1140p txtcenter">
            <h2>Envoyer un message</h2>
            <form action="http://formspree.io/jonathan.pansiot@gmail.com" method="POST" class="w50 center">
                <label for="email">Email</label>
                <input type="email" id="email" name="_replyto">
                <label for="message">Message</label>
                <textarea name="body" id="message"></textarea>
                <input class="flr" type="submit" value="Envoyer">
            </form>
        </div>
    </div>    
</section>