<header id="animatedHeader" class="intro">
    <div class="overlay">
        <div class="content-int center mw1140p txtcenter">
             <div class="header-group">
                <p class="logo"></p>
                <h1 lang="en" itemprop="brand">Web for Sailors <span lang="fr" itemprop="founder">Jonathan Pansiot</span></h1>
                <h2 itemprop="location">Saint<span><svg><use xlink:href="#icon-knot"/></svg></span>Malo</h2> 
                <a role="button" href="#main" class="btn-circle" data-scroll ><img src="/img/btn-circle.svg" alt="à propos"></a>
            </div>        
        </div>
    </div><!--/-->    
</header>