<nav class="navbar navbar-scroll" role="navigation">
    <div class="container mw1140p center">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top" data-scroll>
                <span class="logo">Webforsailors
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="flr">
            <ul class="nav pll navbar-nav">
                <li>
                    <a data-scroll href="#main">À propos</a>
                </li>
                <li>
                    <a data-scroll href="#works">Nos prestations</a>
                </li>
                <li>
                    <a data-scroll href="#contact">Contact</a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
