<section id="works">
	<p class="like-title">Quelques travaux</p>
	<div class="works-int content-int">
		<div class="center mw1280p">
			<div class="grid-3">
				<div class="item-works"><a href="http://www.rf8.fr"><figure role="group"><img src="img/rf8.png" alt=""><figcaption>RF8 - La 8e chaîne de Radio France</figcaption></figure></a></div>
	            <div class="item-works"><a href="http://www.ilosport.fr/"><figure role="group"><img src="img/ilosport.png" alt=""><figcaption>Ilosport - groupe l'Équipe</figcaption></figure></a></div>
	            <div class="item-works"><a href="http://formation.alterway.fr/"><figure role="group"><img src="img/aw-formation.png" alt=""><figcaption>Alterway Formation</figcaption></figure></a></div>
	            <div class="item-works"><a href="http://agence-digitale.alterway.fr/"><figure role="group"><img src="img/aw-agence-mobile.png" alt=""><figcaption>Alterway Agence Digitale</figcaption></figure></a></div>
	            <div class="item-works"><a href="http://metropole.rennes.fr"><figure role="group"><img src="img/rennes.png" alt=""><figcaption>Rennes Métropole</figcaption></figure></a></div>
	            <div class="item-works"><a href="http://www.fourpointsim.com"><figure role="group"><img src="img/fourpoints.png" alt=""><figcaption>Fourpoints</figcaption></figure></a></div>
	            <div class="item-works"><a href="http://lecture-academy.com/"><figure role="group"><img src="img/lecture-academy.png" alt=""><figcaption>Lecture Academy - groupe Hachette</figcaption></figure></a></div>
	            <div class="item-works"><a href="http://www.boostyourjob.com/"><figure role="group"><img src="img/boostyourjob.png" alt=""><figcaption>Boost Your Job</figcaption></figure></a></div>
	            <div class="item-works"><a href="#contact" role="button" data-scroll ><figure role="group"><img src="img/contact.png" alt=""><figcaption>Contactez-moi</figcaption></figure></a></div>
	        </div><!--/grid-3-->	
		</div>
	</div>		
</section><!--/prestations-->