<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top">
        <div class="bodybg" itemscope itemtype="http://schema.org/Organization">
        {% include svg.html %}
        <!-- Navigation -->
        {% include nav.html %}
        <!-- Intro Header -->
        {% include header.html %}
        <!-- About Section -->
        {% include about.html %}
        <!-- Works Section -->
        {% include works.html %}
        <!-- Contact Section -->
        {% include contact.html %}
        <!-- Map Section -->
        <div id="map"></div>
        <!-- Footer -->
        {% include footer.html %}
        {% include script.html %}
        </div>
  </body>     

</html>
