<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="blog">
        <div class="bodybg" itemscope itemtype="http://schema.org/Organization">
        <!-- Navigation -->
        {% include nav-post.html %}
        <div class="blog-container">
        	<!-- Intro Header -->
	        {% include header-post.html %}
	        <!-- content -->
	        {{ content }}
        	<!-- Contact Section -->
        </div><!--/blog-container-->
        {% include contact.html %}
        <!-- Map Section -->
        <div id="map"></div>
        <!-- Footer -->
        {% include footer.html %}
        {% include script.html %}
        </div>
  </body>     

</html>
